{% extends 'base.html' %}
{% block title %}
Analyzing your text...!
{% endblock title %}

{% block body %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill"/>
    </svg>
    <strong>Your text has been analyzed</strong> You should check in on some of those fields below.
    <a href="/" class="alert-link">Try another</a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 40px;">Operations
            performed:</label> <label style="font-size: 25px;">{{ purpose }}</label>
        <textarea class="form-control" name="text" id="exampleFormControlTextarea1"
                  rows="10">{{ analyzed_text }}</textarea>
    </div>
</div>
{% endblock body %}
