{% extends 'base.html' %}
{% block title %}
AD-TextUtils
{% endblock title %}

{% block body %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
        <use xlink:href="#info-fill"/>
    </svg>
    <strong>Welcome to Text Utils!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div> 
<div class="container">
    <form action="/analyze" method="post"> {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label" style="font-size: 40px;">Enter your text here
                and let text utils do the
                magic...</label>
            <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10"></textarea>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="remove_punc" type="checkbox" id="flexSwitchCheckDefault1">
            <label class="form-check-label" for="flexSwitchCheckDefault1">Remove punctuations</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="fullcaps" type="checkbox" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault2">Uppercase</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="newlineremover" type="checkbox" id="flexSwitchCheckDefault3">
            <label class="form-check-label" for="flexSwitchCheckDefault3">New line remover</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="extraspaceremover" type="checkbox" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault4">Extra space remover</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="charactercounter" type="checkbox" id="flexSwitchCheckDefault5">
            <label class="form-check-label" for="flexSwitchCheckDefault5">Count characters</label>
        </div>


        <button type="submit" class="btn btn-dark mt-2">Analyze Text</button>
    </form>
</div>

{% endblock body %}
